<div class="biggest-div">
  <h2 style="font-family: 'Open Sans', sans-serif">ACCOUNT INFO</h2>
  <small><%= @user.username %></small><br>

  <hr>
  <h2 style="font-family: 'Open Sans', sans-serif">YOUR PLANTS</h2>
  <div class="card-container">
    <% if @individual_plants.count > 0 %>
      <% @individual_plants.each do |plant| %>
        <div class="card-indv">
          <div class="thumb" style="background-image: url(<%= plant.photo.url(:medium) %>)"></div>
          <article>
            <h1><strong><%= plant.individual_name %></strong></h1>
            <p>
              <%= plant.common_name %><br>
              <strong>Species:</strong> <i><%= plant.species_name %></i><br>

              <% if plant.sunlight %>
                <strong>Sunlight:</strong> <%= plant.sunlight %><br>
                <strong>Optimal Temperature:</strong> <%= plant.optimal_temp %>&deg;C<br>
                <strong>Watering Frequency:</strong> <%= plant.water_frequency %><br>
                <strong>Ease of Care:</strong> <%= plant.ranking %>
              <% end %>
            </p>
            <!-- if next watering day is the same as current day, display as red -->
            <span>Next watering day: </span>
            <hr>
            <small>
              <%= link_to 'Edit', edit_individual_plant_path(plant) %>
              |
              <%= link_to 'Remove', individual_plant_path(plant), method: :delete, data: {confirm: 'Are you sure?'} %><br>
              <%= link_to 'Generate Data!', generate_data_path(plant), method: :patch %>

            </small>
          </article>
        </div>
      <% end %>
    <% else %>
      <p>Hmm, it appears your gallery is empty</p>
    <% end %>
  </div>


  <br>
  <%= link_to 'Add Plant', new_individual_plant_path %>

  <!-- put this in the footer? -->
  <hr>
  <%= link_to "Edit Info", edit_user_path(current_user) %>
  |
  <%= link_to "Delete Account", user_path(current_user), method: :delete %>
</div>
