<%= simple_form_for @plant, html: { multipart: true } do |f| %>

<h2>Taxonomy</h2>
<%= f.input :species_name, as: :string, required: false %>
<%= f.simple_fields_for :common_names do |c| %>
  <%= render 'common_name_fields', f: c %>
<% end %>
<div class="links">
  <%= link_to_add_association 'Add Another', f, :common_names %>
</div>

<hr>

<h2>Habitat</h2>
<%= f.input :city, label: 'City or Region', as: :string, required: false %>

<div>
  <%= f.association :countries, label_method: :country_name, input_html: {class:'chosen-select'}, hint: 'Select up to 2' %>
</div>

<%= f.input :sunlight, collection: ['full', 'partial', 'shade'] %>
<p>Temperature (in &#176;C)</p>
<div style="display:flex;">
  <%= f.input :temp_min, label: 'Min' %>
  <%= f.input :temp_max, label: 'Max' %>
</div>

<hr>
<h2>Other</h2>
<%= f.input :notes, label: 'Notes (list any plant care tips here)' %>

<!-- fix this with proper nested associations -->
<div>
  <%= f.simple_fields_for :images do |image| %>
    <%= render 'image_fields', f: image %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'Add a Photo', f, :images %>
  </div>
</div>

<%= f.submit "Submit", class:'btn btn-dark' %>
<% end %>

<script>
$('.chosen-select').chosen({max_selected_options: 2});
</script>
