<div class="biggest-div">
  <div style="font-family: 'Open Sans', sans-serif; margin-bottom:10px; font-size:30px;">PLANT SEARCH</div>

        <%= form_tag(plants_path, method: :get) do %>
          <%= text_field_tag :term, params[:term] %>
          <%= submit_tag 'Search', name: nil %>

        <% end %>

  <% @plants.each do |plant|%>
    <div class="card mb-2">
      <div class="card-header">
        <strong><%= link_to plant.species_name, plant_path(plant.id), class:"italic" %></strong>
      </div>
      <div class="card-body">
        <p class="card-text"><%= plant.common_names.map { |c| c.name }.to_sentence %></p>
      </div>
    </div>
  <% end %>
</div>
