<div class="biggest-div">
  <div class="plants-index">
    <div style="font-family: 'Open Sans', sans-serif; margin-bottom:10px; font-size:30px;">PLANT SEARCH</div>

    <%= form_tag(plants_path, method: :get, class:'mb-2') do %>
      <%= text_field_tag :term, params[:term] %>
      <%= submit_tag 'Search', name: nil %>
    <% end %>

    <div class="paginate-div">
      <%= will_paginate @plants %>
    </div>

    <div class="plant-index-items">
      <% @plants.each do |plant| %>
        <div>

          <div class="plant-image">
            <% if plant.images.count > 0 %>
            <!-- just display the last image uploaded -->
              <%= image_tag plant.images[plant.images.length - 1].file.url(:large), style:"width:100%;height:100%;" %>
            <% else %>
              <%= image_tag "default-image.png", style:"max-width:100%;max-height:100%" %>
            <% end %>
          </div>

          <h5><strong><%= link_to plant.species_name, plant_path(plant.id), class:"italic" %></strong></h5>
          <%= plant.common_names.map { |c| c.name }.to_sentence %>
        </div>
      <% end %>
    </div>

  </div>
</div>
