<div class="biggest-div">

  <div class='plant-show'>
    <div class="left">
      <div class="ps-image-box">
        <% if @images.length > 0 %>
          <div style="background-image: url(<%= @images[0].file.url(:large) %>); height:100%;width:100%;">
          </div>
        <%= @images[0].description %>
        <% end %>
      </div>
    </div>

    <div class="right">
      <div style="margin:15px;">
        <h3><strong><i><%= @plant.species_name %></i></strong></h3>
        <p>Common names: <%= @common_names.map { |common_name| common_name.name }.join(', ') %></p>

        <table class="plant-show-table">
          <tr>
            <th colspan="2">General</th>
          </tr>
          <tr>
            <td>City/Region</td>
            <td><%= @plant.city.titleize %></td>
          </tr>
          <tr>
            <td>Country</td>
            <td><%= @countries.map { |country| country.country_name }.join(', ') %></td>
          </tr>
          <tr>
            <td>Climate Zone</td>
            <td><%= @plant.climate_zone %></td>
          </tr>
          <tr>
            <td>Sunlight</td>
            <td><%= @plant.sunlight %></td>
          </tr>
          <tr>
            <td>Temperature Range</td>
            <td><%= @plant.temp_min %>-<%= @plant.temp_max %>&deg;C</td>
          </tr>
          <tr>
            <td>Ease of Care</td>
            <td>
              <% if @plant.rankings.length > 0 %>
                <%= @rank %>
              <% else %>
                Not enough data
              <% end %>
            </td>
          </tr>
        </table>

        <h5 style="margin-top:10px;"><strong>What you ranked the ease of care as:</strong></h5>
        <!-- Rankings conditionals start-->
        <% ranking = current_user&.ranking_for(@plant) %>
        <div class="status-bar">
            <% if ranking.nil? %>
              <div class="status-item easy">
                <%= link_to 'Easy', plant_rankings_path(@plant, { ease_of_care: 'easy' }), method: :post %>
              </div>
              <div class="status-item moderate">
                <%= link_to 'Moderate', plant_rankings_path(@plant, { ease_of_care: 'moderate' }), method: :post %>
              </div>
              <div class="status-item hard">
                <%= link_to 'Hard', plant_rankings_path(@plant, { ease_of_care: 'hard' }), method: :post %>
              </div>
            <% else %>
              <% if ranking.ease_of_care == 'easy' %>
                <div class="status-item easy" style="background-color:green;">
                  <%= link_to 'Easy', ranking_path(ranking), method: :delete, style:'color:white;' %>
                </div>
                <div class="status-item moderate">
                  <%= link_to 'Moderate', ranking_path(ranking, { ease_of_care: 'moderate' }), method: :patch %>
                </div>
                <div class="status-item hard">
                  <%= link_to 'Hard', ranking_path(ranking, { ease_of_care: 'hard' }), method: :patch %>
                </div>

              <% elsif ranking.ease_of_care == 'moderate' %>
                <div class="status-item easy">
                  <%= link_to 'Easy', ranking_path(ranking, { ease_of_care: 'easy' }), method: :patch %>
                </div>
                <div class="status-item moderate" style="background-color:orange;">
                  <%= link_to 'Moderate', ranking_path(ranking), method: :delete, style:'color:white;' %>
                </div>
                <div class="status-item hard">
                  <%= link_to 'Hard', ranking_path(ranking, { ease_of_care: 'hard' }), method: :patch %>
                </div>

              <% elsif ranking.ease_of_care == 'hard' %>
                <div class="status-item easy">
                  <%= link_to 'Easy', ranking_path(ranking, { ease_of_care: 'easy' }), method: :patch %>
                </div>
                <div class="status-item moderate">
                  <%= link_to 'Moderate', ranking_path(ranking, { ease_of_care: 'moderate' }), method: :patch %>
                </div>
                <div class="status-item hard" style="background-color:red;">
                  <%= link_to 'Hard', ranking_path(ranking), method: :delete, style:'color:white;' %>
                </div>
              <% end %>
            <% end %>
        </div>
        <!-- Rankings conditionals end -->
      </div>
    </div>

    <div class="plant-show-3">
      <div style="margin:25px;">
        <h3 style="font-family: 'Open Sans', sans-serif">NOTES</h3>
        <% if @plant.notes %>
        <p><%= @plant.notes %></p>
        <% end %>
        Lorem ipsum dolor sit amet, vix quando option epicuri an, nam ex dicam corrumpit. Paulo probatus iracundia sea te. Tempor menandri ut usu, ceteros copiosae voluptatum eu eos. Eu feugait evertitur eos, eam iuvaret noluisse adolescens an, solum bonorum dignissim an vim. Sumo assum putant vel ex, nec cu libris imperdiet torquatos. No vel postea commune atomorum, ea sea prima falli partiendo, ad sumo nulla moderatius has. Ea quaeque adipisci pro, ius no natum ipsum suscipiantur.
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>

    <div class="plant-show-4">
      <div style="margin:15px;">
        <h3 style="font-family: 'Open Sans', sans-serif">CLIMATE ZONE - <%= @plant.climate_zone %></h3>
        <p>*Note that the climate zone is not the same as the species distribution</p>
        <div style="width:100%;height:700px;background-color:#2E2C2F;padding:10px;margin-top:15px;">
            <%= image_tag "#{@plant.climate_zone}.jpg", style:"width:100%;height:100%" %>
        </div>
      </div>
    </div>

    <div class="plant-show-5">
      <h3 style="font-family: 'Open Sans', sans-serif">GALLERY</h3>
        <div class="ps-5-grid">
          <% if @images.count > 0 %>
            <% @images.each do |image| %>
              <div>
                <div style="background-image: url(<%= image.file.url(:large) %>);width:100%;height:100%;object-fit: contain;">
                  <% if can? :manage, image %>
                    <%= link_to "✖", image_path(image), class:"x-button", method:'delete' %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% else %>
            <p>Hmm, it appears this gallery is empty</p>
          <% end %>
        </div>
      </div>
  </div>

  <div style="display:block;padding:10px;">
    <% if can? :manage, @plant %>
    <%= link_to "Edit Record", edit_plant_path(@plant) %>
    |
    <%= link_to "Delete Record", plant_path, method:"delete", data: {confirm: "Are you sure? There's no going back!!"} %>
    <% end %>
  </div>
</div>
