<div style="height:300px;width:300px;background-color:lightgrey;color:white;">image placeholder</div>

<h3><i><%= @plant.species_name %></i></h3>
<% if @plant.common_name %>
<p>Common names: <%= @plant.common_name %></p>
<% end %>

<p>Origins:
  <%= @countries.map { |country| country.country_name }.join(', ') %>
</p>
<p>Climate Zone: <%= @plant.climate_zone %></p>

<% if @plant.notes %>
  <p>Notes: <%= @plant.notes %></p>
<% end %>

<!-- Only the admin, mods, and user that created this is allowed to edit -->
<%= link_to "Edit Record", edit_plant_path(@plant) %>
|
<%= link_to "Delete Record", plant_path, method:"delete", data: {confirm: "Are you sure? There's no going back!!"} %>
