<div style="height:300px;width:300px;background-color:lightgrey;color:white;">image placeholder</div>

<h3><i><%= @plant.species_name %></i></h3>
<% if @plant.common_name %>
<p>Common names: <%= @plant.common_name %></p>
<% end %>

<p>Origins: <%= @plant.country.titleize %></p>
<p>Climate Zone: <%= @plant.climate_zone %></p>

<% if @plant.description %>
  <p>Description: <%= @plant.description %></p>
<% end %>
