<div class="biggest-div">
  <div style="height:300px;width:300px;background-color:lightgrey;color:white;">
    <% if @images.length > 0 %>
      <div style="background-image: url(<%= @images[0].file.url(:large) %>); height:300px;width:300px;">
      </div>
      <%= @images[0].description %>
    <% end %>
  </div>

  <h3><i><%= @plant.species_name %></i></h3>
  <p>Common names: <%= @common_names.map { |common_name| common_name.name }.join(', ') %></p>

  <h4>Origins</h4>
  City/Region: <%= @plant.city %></br>
  Country:  <%= @countries.map { |country| country.country_name }.join(', ') %>

  <p>Climate Zone: <%= @plant.climate_zone %></p>

  <% if @plant.notes && @plant.notes.length > 0 %>
    <h4>Notes</h4>
    <p><%= @plant.notes %></p>
  <% end %>

  <hr>
  <h2 style="font-family: 'Open Sans', sans-serif">GALLERY</h2>
  <div class="card-container">
    <% if @images.count > 0 %>
      <% @images.each do |image| %>
        <div class="card-indv">
          <div class="thumb" style="background-image: url(<%= image.file.url(:medium) %>)"></div>
        </div>
      <% end %>
    <% else %>
      <p>Hmm, it appears this gallery is empty</p>
    <% end %>
  </div>



  <!-- Only the admin, mods, and user that created this is allowed to edit -->
  <hr>
  <%= link_to "Edit Record", edit_plant_path(@plant) %>
  |
  <%= link_to "Delete Record", plant_path, method:"delete", data: {confirm: "Are you sure? There's no going back!!"} %>
</div>
